// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #f46b27;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #161d27;
$pink: #e93865;
$white: #FFFFFF;
$blue1: #0C79BE;
$pink: #FD4C69;
$white1: #F7f8F2;
$green1: #05B38B;
