.title-chat {
  color: $blue1;
  font-size: 20px;
}

.title-chatroom {
  color: $blue1;
}

.message-container i {
  border-bottom: solid;
  border-bottom-width: 1px;
  text-transform: capitalize;
}

#messages {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 77%;
  padding: 20px;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
}

.chatroom-container {
  padding: 10px;
  height: 100%;

}

.btn-chat {
  color: $white1 !important;
  font-size: x-medium;
  padding: 3px 12px;
  border-radius: 180px;
  background: $blue1;
  border-style: none;
}

.message-box input {
  border-radius: 10px;
}

.chatrooms-container {
  padding: 10px;
  height: 100%;
}

.conversations {
  margin-bottom: 20px;
}

.conversation-details {
  padding: 10px;
  justify-content: end;
  position: relative;
  display: flex;
}

.chatroom-card {
  overflow: hidden;
  background: $white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 8px;
  color: #0E0000;
}

.conversation-details a {
  color: $black;
  font-size: medium;
}
