html, body {
  height: 100vh;
  background-color: #161d27;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-content {
  // margin-bottom: 20px;
  height: 100vh;
}
