.container-dashboard {
  background-color: #161d27;
  color: white;
}

.welcome-message-dashboard {
  margin-top: 30px;
}


.info-dashboard {
  margin-top: 30px;
}

.dashboard-first-2-boxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.dashboard-first-2-boxes p {
  margin-top: -20px;
}

.row-1-dashboard {
  border-color: #f46b27;
  border-style: solid;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  text-align: center;
  align-items: center;
}

.joined {

}

.favourite-sport-dashboard  {
  margin-top: 30px;
}

.dashboard-next-activity-info {
  justify-items: center;
  text-align: center;
  border-color: #f46b27;
  border-style: solid;
  border-radius: 7px;
  border: auto;
  margin-top: 30px;
}

.actions-icon-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas {
 font-size: 40px;
 color: #F46B27;
}

.fas:hover {
  opacity: 0.5;
}
