.container-dash {
  background-color: $black;
  color: $white;
  height: 100%;
}

.activities-cards {
  margin-left: 10px;
  margin-right: 10px;
}

.current-games {
  display: flex;
  justify-content: space-evenly;
}

.btn-dashboard {
  color: $white !important;
  font-size: x-medium;
  padding: 8px 24px;
  border-radius: 180px;
  background: $black;
  border: 1px solid $orange;
 }

.card-activity-dash {
  overflow: hidden;
  background: $white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 28px;
  border: 1px solid $orange;
  color: #0E0000;
}

.card-activity-dash a {
  color: #0E0000;
}

.card-activity-dash h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-activity-dash p {
  font-size: 12px;
  margin: 0;
}

.card-activity-dash-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  margin-bottom: -14px;
  display: flex;

  .left-side {
    flex-grow: 1;
  }

  .right-side {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.current-games {
  margin-bottom: 20px;
}

a.chat-dash {
  font-size: 30px;
  text-decoration: none;
}
