.container-dash {
  background-color: $white1;
  color: $blue1;
  height: 100%;
}

.activities-cards {
  margin-left: 10px;
  margin-right: 10px;
}

.current-games {
  display: flex;
  justify-content: space-evenly;
}

.btn-dashboard {
  color: $white1 !important;
  font-size: 18px;
  padding: 8px 24px;
  border-radius: 180px;
  background: $blue1;
  font-weight: bold;
 }

 .btn-dash-game {
  color: $blue1 !important;
  font-size: 18px;
  background: transparent;
  padding: 8px 24px;
  border-radius: 180px;
  font-weight: bold;
 }

.card-activity-dash {
  overflow: hidden;
  background: $white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 20px;
  color: #0E0000;
}

.card-activity-dash a {
  color: #0E0000;
}

.card-activity-dash h2 {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  color: $blue1;
}

.card-activity-dash p {
  font-size: 14px;
  margin: 0;
}

.card-activity-dash-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  display: flex;

  .left-side {
    flex-grow: 1;
  }

  .right-side {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 10px;
  }
}

.current-games {
  margin-bottom: 20px;
}

a.chat-dash {
  font-size: 38px;
  text-decoration: none;
}
