// Specific CSS for your home-page
.homepage-container {
  background-color: #161d27;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.homepage-title-logo-container {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-logo {
  position: relative;
  height: 300px;
  width: 300px;

}

.homepage-sportivity-title-container {
  position: absolute;
}

.homepage-sportivity-title {
  font-size: 60px;
}

.homepage-subtitle-container {
  padding-top: 40px;
  padding-left: 20px;
}

.homepage-text-container {
  padding-top: 3px;
  padding-left: 20px;
  width: 270px;
}

.homepage-text {
  font-style: italic;
  font-size: 17px;
}

.homepage-buttons-container {
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  width: 100%
}

.btn-homepage{
  margin: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.card-activity-index-btn {
  font-size: 16px;
  padding: 8px 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
