.login-page-wrapper h2 {
  text-align: center;
}

.login-page-wrapper {
  color: $white;
  background-color: $black;
  padding-top: 90px;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.login-logo-container{
  position:fixed;
  top:10px;
  left:10px;
}

.login-page-logo {
  height: 70px;
  width: 70px;
}
