.login-page-wrapper h2 {
  text-align: center;
}

.login-page-wrapper {
  color: $white;
  background-color: $black;
  padding-top: 10px;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.login-logo-container {
  position: sticky;
}

.login-page-logo {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
}
