<div class="chatrooms-container">
  <h1 class="title-chatroom">Activity Chatrooms</h1>
  <br>
  <% @chatrooms.each do |chatroom| %>
    <div class="conversations">
      <div class="chatroom-card">
        <div class="conversation-details">
           <div class="name-chat">
            <%= link_to chatroom.activity.title.capitalize, "#{activity_chatroom_url(chatroom.activity, chatroom)}#message-#{chatroom.messages.size > 0 ? chatroom.messages.last.id : ''}" %>
            <br>
            <p>Chat with players 💬</p>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

