<div class="chatrooms-container">
  <h1 class="title-chatroom">Inbox</h1>
  <br>
  <% @chatrooms.each do |chatroom| %>
    <div class="conversations">
      <div class="chatroom-card">
        <div class="conversation-details">
           <h2 class="mb-2"><%= link_to chatroom.activity.title, "#{activity_chatroom_url(chatroom.activity, chatroom)}#message-#{chatroom.messages.size > 0 ? chatroom.messages.last.id : ''}" %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>

