<div class='container mb-10 p-3 '>
  <% if @user == current_user %>
    <p>This is YOUR page</p>
    <div>
      <%= image_tag "profile_def.jpg", class: 'card-activity-image' %>
    </div>
    <div>
      <img src="https://kitt.lewagon.com/placeholder/users/nati95" class="avatar-large" />
    </div>

    <div>
      <p>Activites created: <%= current_user.activities.count %> </p>
    </div>

    <% current_user.sports.each  do |s| %>
     <a class="btn-sport" href="#"> <%= s.name %> </a>
      <% end %>

  <% else %>
    <p>This is NOT your page</p>
  <% end %>
</div>