<div class='container p-0 mb-10'>
  <% if @user == current_user %>
  <div class='container-banner'>
    <%= image_tag "profile_def.jpg", class: 'banner', width: 400 %>
  </div>
    <div>
      <img src="https://kitt.lewagon.com/placeholder/users/nati95" class="avatar-large" />
    </div>

    <div>
      <p>Activites created: <%= current_user.activities.count %> </p>
    </div>

    <% current_user.sports.each  do |s| %>
     <a class="btn-sport" href="#"> <%= s.name %> </a>
      <% end %>
  <% else %>
    <p>This is NOT your page</p>
  <% end %>
</div>