<div class="container-dash">
  <br>
  <div class="current-games">
    <div class="joined">
      <%= link_to "Joined", dashboard_path(query:"joined"), class:"btn-dashboard" %>
    </div>
    <div class="created">
      <%= link_to "Created", dashboard_path(query:"created"), class:"btn-dashboard" %>
    </div>
    <div class="past">
      <%= link_to "Past", dashboard_path(query:"past"), class:"btn-dashboard" %>
    </div>
  </div>
  <%= render "dashboard_activities", activities: @activities %>
</div>
