<div class="container-dash">
  <div class="current-games">
    <div class="joined">
      <div class="btn-dashboard">Joined</div>
    </div>
    <div class="created">
      <div class="btn-dashboard">Created</div>
    </div>
    <div class="past">
      <div class="btn-dashboard">Past</div>
    </div>
  </div>
  <div class="activities-cards">
    <% @activities.each do |activity| %>
      <div class="activity-dash">
        <h2 class='mb-2'><%= activity.title %></h2>
        <p class='mb-1'><%= activity.location %></p>
        <p class='mb-1'><%= activity.start_time.strftime("%A, %B %-d, %H:%M") %></p>
      </div>
    <% end %>
  </div>
</div>
