<div class="container-dashboard mb-10 p-3">
  <h1 class="title-dashboard text-center"> Dashboard </h1>
  <div class="welcome-message-dashboard text-center"><p><strong> Welcome <%= current_user.username.capitalize %>  </strong></p></div>
  <div class="dashboard-first-2-boxes">
    <div class="row-1-dashboard d-inline-block"><p> Joined: <%= current_user.activities.length %> </p></div>
    <div class="row-1-dashboard d-inline-block"><p> Created: <%= current_user.activities.length %> </p></div>
  </div>
</div>


