.alert {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
  background-color: $black;
  color: $orange;
  border-radius: 180px;
  padding: 8px 24px;
  border: 0.2px solid $black;

}

.hidden {
  display: none;
}
