.banner {
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.container-banner {
  width: 10vw;
  position: relative;
  margin-bottom: 100px;
}

.container-banner .avatar-x-large{
  position: absolute;
  left: 120px;
  top: 176px;
  width: fit-content;
}
