.banner {
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.container-banner {
  width: 900px;
  position: relative;
}

.container-banner .avatar-x-large{
  position: absolute;
  left: 128px;
  top: 193px;
  width: fit-content;
}
