.btn-sport {
  color: $white1 !important;
  font-size: 13px;
  padding: 3px 12px;
  border-radius: 180px;
  background: $pink;
}

.btn-sport-fav-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 40px;
  height: 100%;
}

.btn-sport-fav {
  color: $white1;
  font-size: 13px;
  padding: 8px 24px;
  border-radius: 180px;
  background: $blue1;
  margin: 8px;
}

.btn-primary {
  color: $white1 !important;
  font-size: x-medium;
  padding: 8px 24px;
  border-radius: 180px;
  background: $green1;
  margin: 8px;
  border-style: none;
}

.btn-sign-page {
  color: $white1 !important;
  font-size: x-small;
  padding: 8px 24px;
  border-radius: 180px;
  background: $blue1;
}

