.btn-sport {
  color: white !important;
  font-size: x-small;
  padding: 8px 24px;
  border-radius: 180px;
  background: $black;
  border: 1px solid $orange;
}

.btn-sport-fav-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.btn-sport-fav {
  color: white;
  font-size: x-small;
  padding: 8px 24px;
  border-radius: 180px;
  background: $black;
  border: 1px solid $orange;
  margin: 8px;
}

.btn-primary {
  color: white !important;
  font-size: x-medium;
  padding: 8px 24px;
  border-radius: 180px;
  background: #161d27;
  border: 1px solid #f46b27;

}
