.container-index {
  background-color: $white1;
  padding: 0 90px;
}

.container-show {
  background-color: $white1;
  height: calc(100vh - 70px);
  border-radius: 6px;
}

.card-activity-show {
  background: $white;
  height: calc(100vh - 90px);
}

.card-activity-show > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-activity-show h2 {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: bold;
  color: $blue1;
}

.card-activity-show p {
  font-size: 16px;
  margin-top: 8px;
}

//.card-activity-show  {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

.card-activity-show-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-activity-show-infos .card-activity-show-btn{
  position: absolute;
  left: 16px;
  top: -48px;
  width: fit-content;
  font-weight: bold;
}

.card-activity-show .card-activity-show-frame {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-activity-show-frame {
  margin-bottom: 12px;
}

.card-activity-show-frame p{
  margin: 0;
}

.show-paragraph p{
  margin-bottom: 14px;
}

.divider-vertical{
  width: 1px;
  height: 75px;
  background-color: $black;
}

.divider-vertical-avatar {
  width: 1px;
  height: 90px;
  background-color: $black;
}

.show-btn-action {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  padding: 6px;
}

.btn-edit {
  background-color: $white1;
  color: $green1;
  border-radius: 180px;
  padding: 8px 24px;
  border-style: solid;
  border-color: $green1;
  font-weight: bold;
}

.btn-leave {
  background-color: $white1;
  color: $pink;
  border-radius: 180px;
  padding: 8px 24px;
  border-style: solid;
  border-color: $pink;
  font-weight: bold;
}

.btn-join {
  background-color: $green1;
  color: $white1;
  border-radius: 180px;
  padding: 8px 24px;
  font-weight: bold;
}

a.btn-action {
  text-decoration: none;
}

.btn-action i {
  font-size: 16px;
  color: $green1;
}


.arrow {
  height: 10px;
  border: solid $blue1;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.show-header {
  display:flex;
  justify-content: space-between;
  margin-top: 8px;

  i {
    font-size: 26px;
    color: $black;
  }
}

.card-activity-show-btn {
  background-color: $pink;
  color: $white1;
  border-radius: 180px;
  padding: 8px 24px;
  font-size: 14px;
}

