.card-activity-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 28px;
  border: 1px solid #f46b27;
  height: 580px;
}

.card-activity-show > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-activity-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-activity-show p {
  font-size: 12px;
  margin: 0;
}

.card-activity-show .card-activity-show-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-activity-show-infos .card-activity-show-btn{
  position: absolute;
  left: 16px;
  top: -48px;
  width: fit-content;
  font-weight: bold;
}

.card-activity-show .card-activity-show-frame {
  padding: 21px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.card-activity-show-players p {
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  font: blue;
}


.card-activity-show-skill p {
  font: blue;
  position: absolute;
}


.container-index {
  background-color: #161d27;
  padding: 0 90px;
  height: 600px;
}
