.container-user-show {
  display: flex;
  flex-direction: column;
  padding: 1px 30px;
  margin-bottom: 10px;
  color: $blue1;
}

.container-user-show .card-act-desc {
  flex-direction: column;
}

.container-user-show .btn-sport-fav-flex {
}

.container-user-show .card-act-desc-joins {
  padding-top: 38px;
}

.container-user-show p {
  color: $blue1;
}

@media screen and (max-width:720px) {
  .container-user-show {
    max-width: 600px;
  }
}

.limit{
  width: 350px;
  word-wrap: break-word;
}
.profile-sports {

}

//////// user show ////////////

.divider-vertical-user{
  width: 1px;
  height: 50px;
  background-color: $black;
  opacity: .4;
}
.container-show-user {
  display: flex;
  padding: 0 90px;
  height: calc(100vh - 70px);
}
.card-activity-show-user {
  background: $white;
  height: calc(100vh - 90px);
}
.card-activity-show-user > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}