.container-edit {
  color: $blue1;
  padding: 17px;
}


.container-edit h1 {
  color: #F7f8F2;
  background-color: #0C79BE;
  border-radius: 8px;
  padding: 8px 25px;
  font-size: 35px;
  text-align: center;
}
