.container-user-show {
  display: flex;
  flex-direction: column;
  padding: 1px 30px;
  margin-bottom: 10px;
  color: $blue1;
}

.container-user-show .card-act-desc {
  flex-direction: column;
}

.container-user-show .btn-sport-fav-flex {
}

.container-user-show .card-act-desc-joins {
  padding-top: 38px;
}

.container-user-show p {
  color: $blue1;
}

@media screen and (max-width:720px) {
  .container-user-show {
    max-width: 600px;
  }
}

.limit{
  width: 350px;
  word-wrap: break-word;
}
