.footer {
  background-color: $black;
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  padding: 12px;
  height: 70px;
}

.container-footer {
  width: 100%;
  max-width: 680px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer-icon img {
  height: 30px;
}

.footer-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nobull {
  list-style-type: none;
  padding-left: 0;
}

.footer-row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}


