<div class="container">
  <h1> Create an Activity </h1>
  <%= render "form", activity: @activity %>
</div>








<!-- <br>
  <form>

    <div class="form-group">
      <label for="rangePlayer">Player limit</label>
      <br>
      <input type="range" name="playerInputName" id="playerInputId" value="10" min="1" max="20" oninput="playerOutputId.value = playerInputId.value">
      <output name="playerOutputName" id="playerOutputId">10</output>
    </div>
    <div class="level">
      <label for="activityDetails">Level requirements</label>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Any</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Beginner</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Intermediate</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Pro</label>
      </div>
    </div>
  </form>
</div> -->





